.App {
    position: relative;
    min-height: 100vh;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1080px;
    text-align: center;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}